@import './reset.scss';
@import './class.scss';
@import './font.scss';
@import './swiper.scss';
@import './markdown.scss';


body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.layout {
  width: 100vw;
  overflow: hidden;
}

.flex {
  display: flex;
}

.container {
  max-width: 1025px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 140px;
}

.block-title {
  border-left: 5px solid rgb(240, 162, 16);
  padding: 3px 0px 3px 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 15px;

  &.link {
    cursor: pointer;
    color: #880e28;
    text-decoration: none;

    &:hover {
      color: rgb(240, 162, 16);
    }
  }
}

.tag-list {
  margin-bottom: 15px;
}
.tag {
  padding: 4px 6px;
  border-radius: 3px;
  margin: 0 3px;
  color: #fff;
  background-color: rgb(240, 162, 16);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s;

  &:nth-child(1) {
    margin-left: 0;
  }

  &:hover {
    opacity: 0.9;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}


/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* 螢幕尺寸標準 */
/* 手機尺寸 */
@media screen and (max-width: 767px) {
  .tag {
    font-size: 12px;
  }
}