@import './reset.scss';
@import './class.scss';
@import './font.scss';
@import './swiper.scss';
@import './markdown.scss';


body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.layout {
  width: 100vw;
  overflow: hidden;
}

.flex {
  display: flex;
}

.container {
  max-width: 1025px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 140px;
}

.block-title {
  border-left: 5px solid rgb(240, 162, 16);
  padding: 3px 0px 3px 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.tag-list {
  margin-bottom: 15px;
}
.tag {
  padding: 4px 6px;
  border-radius: 3px;
  margin: 0 3px;
  color: #fff;
  background-color: rgb(240, 162, 16);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s;

  &:nth-child(1) {
    margin-left: 0;
  }

  &:hover {
    opacity: 0.9;
  }
}


/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* 螢幕尺寸標準 */
/* 手機尺寸 */
@media screen and (max-width: 767px) {
  .tag {
    font-size: 12px;
  }
}